.Note {
  background-color: #c8e7f6;
  display: flex;
  align-content: center;
  justify-content: space-between;
  border: 1px solid #f1d1c7;
  border-radius: 10px;
  padding: 30px;
  margin: 20px auto;
}

.Note .header {
  width: 80%;
}

.Note .header h4 {
  color: #747d92;
}

.Note .header p {
  color: #747d92;
  word-wrap: break-word;
}

.Note .controls {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  font-size: 1.5rem;
  color: #747d92;
}

.Note .controls i:hover {
  cursor: pointer;
  color: #f1d1c7;
}
